<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TradeStratInfo_Model_View.Properties.Settings.PRM_COMBINED_TESTConnectionString"
            connectionString="Data Source=OLDAUTO2\MSSQL_PEIXIAN;Initial Catalog=PRM_COMBINED_TEST;Persist Security Info=True;User ID=sa;Password=Old$ch00l"
            providerName="System.Data.SqlClient" />
        <add name="TradeStratInfo_Model_View.Properties.Settings.ClientPRM_COMBINED_TESTConnectionString"
            connectionString="Data Source=|DataDirectory|\PRM_COMBINED_TEST.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>